*{
    margin: 0;
    padding: 0;
}
.profileMain{
    width: 77%;
    margin: auto;
    /* border: 1px solid red; */
    /* height:30px; */
    display: flex;
    justify-content: space-between;
}
.profile-1{
width: 21%;
/* border: 1px solid green; */
background-color: white;
}
.p1{
    padding: 15px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}
.restP{
    padding: 20px;
    font-size: 14px;
    font-weight: 550;
  
}
.p2{
    display: flex;
    margin-bottom: 35px;
}
.p2 img{
width:20px;
height:20px;
margin-right: 10px;
}
.p21:hover{
    color: #ff1744;
}
.profile-2{
width: 54%;
/* border: 1px solid blue; */

}
.profile-2-cont{
    background-color: #fff;
    padding: 30px 30px 60px 30px;
}
.p2-name{
    display: flex;
    justify-content: space-between;
}
.edit{
    font-size: 14px;
    color: #ff1744;
    font-weight: 550;
}
.p2-item{
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 22px 13px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
.p2-col1{
    line-height: 45px;
    font-weight: 600;
    width: 22%;
    /* border: 1px solid red; */
}
.p2-col2{
    /* line-height: 45px; */
    font-weight: 600;
    width: 78%;
    /* border: 1px solid red; */
    padding: 5px 0;
}
.p2-box{
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    width: 96%;
    padding:6px 0 6px 10px;
}
.profile-3{
width: 21%;
/* border: 1px solid orange; */
}
.p3-box{
width: 100%;
height:162px;
background-color: white;
padding: 40px 20px 20px 20px;;
box-sizing: border-box;
}
.d-box{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #ab47bc;
    color: white;
    font-weight: 600;
    line-height: 60px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    font-size: 17px;
    margin-bottom: 12px;
}
.d-name{
    text-align: center;
    font-size: 14.5px;
}
.d-email{
    text-align: center;
    font-size: 14px;
    color: gray;
}